/* *,
*::after,
*::before {
  box-sizing: border-box;
} */

.container {
  background-color: #623183;
}

.logo-img {
  width: 90%;
}
nav {
  background-color: #633185;
}

ul {
  background-color: #f1f1f2;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0;
}
.nav-span {
  color: orangered;
  margin-left: 5px;
}

.nav-pay {
  color: #afafb0;
  cursor: pointer;
}

.nav-pay:hover {
  color: #0099ff;
}

.search-bar {
  background-color: white;
  padding: 15px;
  max-width: 100%;
  height: auto;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

button {
  outline: none;
  border: none;
  padding: 15px 25px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 6px gray;
}

.search-input-wrapper,
.account,
.help,
.cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 0 10px;
  width: 90%;
}

input {
  border: none;
  outline: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column: span 3;
  gap: 10px;
  align-items: center;

  width: 75%;

  margin: 10px auto;
}

.main-body {
  height: 100%;
  background-color: #633185;
}

.aside {
  background-color: white;
  grid-column-start: 1;
  grid-row: span 2;
  width: 100%;
  /* height: 100%; */
  padding: 1rem;
  overflow: hidden;
  border-radius: 5px;
}

.carousel-content {
  grid-column-start: 2;
  grid-row: span 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.article-one {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
}

.article-two {
  background-color: rgb(181, 184, 181);
  grid-column-start: 3;
  grid-row-start: 2;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}

.aside-two {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5px;
}

.aside-two img {
  max-width: 20%;
  max-height: 20%;
  border-radius: 50%;
}

img {
  max-width: 100%;
  height: 100%;
}

.main-wrapper {
  text-align: center;
  background-color: #ffba00;
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
}

.main-container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.flashsales {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 75%;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}

.footer {
  height: 200px;
  margin-top: 20px;
}

.footer-dark {
  background-color: #313133;
  height: auto;
  color: white;
}

.footer-gray {
  background-color: #535357;
  height: 100px;
}
